 @charset "UTF-8";

@font-face {
    font-family: Coolvetica;
    src: url(fonts/Coolvetica\ Rg.otf);
}

@font-face {
    font-family: Tropi;
    src: url(fonts//Tropi\ Land\ -\ \(Demo\)\ hanscostudio.com.ttf);
}

*{box-sizing: border-box;}


header {
	color:#2E211C;
	text-align: center;
  height: 100px;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Tropi";
  font-size: 80pt;
  background-image: url(images/tetons.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  padding-top: 30px;
}

nav {
  font-family: "Coolvetica";
  text-align: center;
  margin-top: 120px;
}

a:link {
  color: #2E211C;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #984619;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #eae0c7;
  background-color: transparent;
  text-decoration: none;
}

body {
	background-color: #9cb8b7;
	color:#2E211C;
  font-family: "Coolvetica";
  font-size: 14pt;
  height: auto;
  width: auto;
}

h2, h3, h4, h5, h6 {
	color: #2E211C;
  font-family: "Coolvetica";
  background-color: #EAE0C7;
  padding: 8px;
  text-indent: 10px;
  font-size: 28pt;
}

footer {
  clear: both;
  text-align: center;
  width: 100%;
  background-color: #EAE0C7;
  height: auto;
}

img {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center ;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #EAE0C7;
}

hr {
  outline-color: #2E211C;
  outline-style: dashed;
  outline-width: 1px;
  border-style: none;
}


.button {
  background-color: #EAE0C7;
  color: #2E211C;
  text-align: center;
  font-size: 15pt;
  border-color: #EAE0C7;
  border-radius: 25%;
  padding: 10px;
  font-family: "Coolvetica";
}

.content {
  margin-top: 150px;
}

.content li {
  list-style-type: circle;
  margin-left: 40px;
}

.wrapper {
  margin: 20px;
  margin-top: -50px;
}

.photo-grid {
  padding-top: 40px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1;
  column-gap: 30px;
  float: left;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.circle3 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#ring-photo {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%
}